<div class="panel panel-primary">
  <div class="panel-heading">
    <i class="fa fa-dashboard fa-2x"></i><b> <big><big>Liquibase[Dashboard]</big></big></b>
  </div>  
</div>

<div class="container bs-docs-container">
	<div class="row">
	  <div class="col-md-9" role="main">
	    <div class="bs-docs-section">

  <h1 id="overview" class="page-header">Overview</h1>

  <p class="lead">Liquibase Dashboard is an open source Dashboard that makes it easy to view DatabaseChangeLog's that Liquibase utilizes for for tracking, managing and applying database schema changes from a centralized location.</p>

  <h3 id="overview-doctype">Application</h3>
  <p>Logical model of Application, its Schema(s) and deployed Environment(s) ...</p>

  <h3 id="overview-doctype">Getting Started</h3>
	<ol type="1">
	  <li>Add an Application</li>
	  <li>Add Environment(s)</li>
	  <li>Add Schems(s)</li>
	</ol>

			</div>
		</div>
	</div>
</div>